@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000814;
  color: whitesmoke;
}

.active {
  color: #b69507;
}

.bg-effect .active {
  background-color: #313946;
}

